/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  
  #sidebyside {
    padding: 50px 0;
   
  }
  #sidebyside .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: right;
  }
  #sidebyside .content {
    order: 2;
    margin: auto;
    margin-top: 4.6875em;
    max-width: 38.1875em;
    text-align: center
  }
  #sidebyside .content h2 {
    font-size: 3em;
    margin-bottom: 0.875em;
  }
  #sidebyside .content p {
    margin-bottom: 1.11111111em;
  }
  
  #sidebyside .content ul {
    padding-left: 1.25em;
    margin-bottom: 1.25em;
  }
  #sidebyside .content ul li {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 1em;
  }
  #sidebyside .content ul li img {
    margin-left: 0.625em;
    margin-top: 0.22222222em;
  }
  #sidebyside .content .button-solid {
    margin-top: 1.78571429em;
  }
  
  
  
  #sidebyside .container .content .service-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    margin-top: 100px;
}
  
  #sidebyside .container .content .service-wrapper .service{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 270px;
    text-align: right;
  }
  #sidebyside .container .content .service-wrapper .service h3 {
    margin: 10px 0;
    font-family: 'bold';
    font-size: 1.2em;
    white-space: nowrap;
  }
  #sidebyside .container .content .service-wrapper .service h3 img{
    margin-left: 0.2em;
    margin-top: 0.22222222em;
  }
  #sidebyside .container .content .service-wrapper .service p{
    line-height: 45px;
  }
  .services-last{
    background-color: var(--primary);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
  }
  
}
/* Inbetween */
@media (min-width:587px) {
  #sidebyside .container .content .service-wrapper{
    justify-content: space-between;
  }
}
@media only screen and (min-width: 666px) {
  #sidebyside {
    padding: 6.25em 0;
  }
  
}
/* Small Desktop */
@media only screen and (min-width: 1300px) {
  #sidebyside {
    padding: 1.375em 0;
  }
  #sidebyside .container {
    max-width: 86.9375em;
    flex-direction: row;
    align-items: flex-start;
  }
  #sidebyside .content {
    margin: 0;
    width: 60%;
  }
  #sidebyside .image-box {
    margin: 0;
    margin-right: 10.625em;
  }
  @media only screen and (min-width:2320px) {
    #sidebyside .container .content .service-wrapper .service{
      width: 360px;
    }
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #sidebyside-reverse {
    padding: 50px 0;
    position: relative;
  }
  #sidebyside-reverse .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #sidebyside-reverse .content {
    order: 2;
    margin: auto;
    margin-top: 4.6875em;
    max-width: 38.1875em;
  }
  #sidebyside-reverse .content h2 {
    font-size: 3em;
    margin-bottom: 0.875em;
  }

  #sidebyside-reverse .container .saving{
    width: 50vw;
    height: 30%; 
  }
  #sidebyside-reverse .content p {
    margin-bottom: 1.11111111em;
  }
  #sidebyside-reverse .content ul {
    padding-left: 1.25em;
    margin-bottom: 1.25em;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-content: flex-end;
    align-items: flex-end;
  }
  #sidebyside-reverse .content ul li {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
  }
  #sidebyside-reverse .content ul li img {
    margin-left: 0.625em;
    margin-top: 0.22222222em;
  }
  #sidebyside-reverse .content .button-solid {
    margin-top: 1.78571429em;
  }
  #sidebyside-reverse .image-box {
    display: block;
    position: relative;
    margin: auto;
    width: 38.1875em;
    height: 53.8125em;
    font-size: min(1.4vw, 1em);
  }
  #sidebyside-reverse .image-box:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: var(--primary);
    opacity: 1;
    top: 2.5em;
    left: -2.5em;
  }
  
 
}
/* Inbetween */
@media only screen and (min-width: 666px) {
  #sidebyside-reverse {
    padding: 6.25em 0;
  }
}
/* Small Desktop */
@media only screen and (min-width: 1300px) {
  #sidebyside-reverse {
    padding: 9.375em 0;
  }
  #sidebyside-reverse .container {
    max-width: 86.9375em;
    flex-direction: row;
    
    align-items: flex-start;
  }
  #sidebyside-reverse .content {
    margin: 0;
    width: 60%;
    order: 1;
  }
  
 
}

/*-- -------------------------- -->
<---    sidebyside how          -->
<--- -------------------------- -*/
@media only screen and (min-width: 0em) {
  .content{
    text-align: right;
  }
  #how .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: right;
  }
  #how .container .content ul{
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 50px;
  }
  #how .container .content ul li{
    list-style: none;
  }
  #how .container .content h2{
    font-size: 3em;
    text-align: center;
    margin: 50px 0;
  }
  #how .container .content h3{
  margin-bottom: 20px;
  }
  #how .container .content p{
    font-size: 1em;
  }
}
/* Inbetween */
@media only screen and (min-width: 666px) {
 
}
/* Small Desktop */
@media only screen and (min-width: 1300px) {
  #how .container{
    max-width: 86.9375em;
    flex-direction: row;
    align-items: flex-start;
  }
  #how .container .content{
    width: 60%;
    margin: 0;
  }
   ul{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  #how .container .content ul li{
    width: 400px;
  }
  
}
/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #cta {
    position: relative;
    padding: 3.125em 0;
    background: url(/images/Simple\ Shiny.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #cta .container {
    text-align: center;
  }
  #cta .container .button-solid{
    background-color: #fff;
  }
  #cta picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  #cta picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #cta .title {
    font-weight: 900;
    font-size: min(9vw, 3em);
    line-height: 1.20833333;
    color: #fff;
    position: relative;
    margin-bottom: 0.75em;
    text-align: center;
  }
  #cta p {
    color: #fff;
    text-align: center;
    opacity: 1;
    margin: auto;
    margin-bottom: 2em;
    width: 96%;
    max-width: 33.22222222em;
  }
  .spikes{
    position: absolute;
    width: 100vw;
    bottom: 0;
  }
  .curve{
    height: 100%;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #cta {
    padding: 10.5em 0;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  
  #cta:before {
    display: none;
  }
  
  #cta .container {
    width: 90.0625%;
    margin: auto;
  }
  #cta picture {
    width: 90.0625%;
    left: 50%;
    transform: translateX(-50%);
  }
  #cta picture:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #cta:after {
    display: none;
  }
}
